<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006290164216-serdvvdh056vbvlthvish7dtqohkgc33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006290164216-serdvvdh056vbvlthvish7dtqohkgc33</string>
	<key>API_KEY</key>
	<string>AIzaSyDBQHfSEqC6W3qTJx4Dy2GWSYJG7Xs71-E</string>
	<key>GCM_SENDER_ID</key>
	<string>1006290164216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.mattiasliljenberg.sadsadasd</string>
	<key>PROJECT_ID</key>
	<string>worldflag-55a5d</string>
	<key>STORAGE_BUCKET</key>
	<string>worldflag-55a5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006290164216:ios:7a174b7878af1426489e0d</string>
</dict>
</plist>
